.background-color {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -1;
}


.bg-height-5 {

    @include md {
        height: 5%;
    }
}

.bg-height-10 {

    @include md {
        height: 10%;
    }
}

.bg-height-15 {

    @include md {
        height: 15%;
    }
}

.bg-height-20 {

    @include md {
        height: 20%;
    }
}

.bg-height-25 {

    @include md {
        height: 25%;
    }
}

.bg-height-30 {

    @include md {
        height: 30%;
    }
}

.bg-height-35 {

    @include md {
        height: 35%;
    }
}

.bg-height-40 {

    @include md {
        height: 40%;
    }
}

.bg-height-45 {

    @include md {
        height: 45%;
    }
}


.bg-height-50 {

    @include md {
        height: 50%;
    }
}

.bg-height-55 {

    @include md {
        height: 55%;
    }
}

.bg-height-60 {

    @include md {
        height: 60%;
    }
}

.bg-height-65 {

    @include md {
        height: 65%;
    }
}

.bg-height-75 {
   
    @include md {
        height: 75%;
    }
}

.bg-height-80 {

    @include md {
        height: 80%;
    }
}

.bg-height-85 {

    @include md {
        height: 85%;
    }
}

.bg-height-90 {

    @include md {
        height: 90%;
    }
}

.bg-height-95 {

    @include md {
        height: 95%;
    }
}

.bg-height-100 {

    @include md {
        height: 100%;
    }
}