@mixin button($bg-color, $text-color, $hover-color, $hover-text-color) {
    background-color: $bg-color;
    color: $text-color;
    text-align: center;
    text-decoration: none;
    padding: 12px 38px;
    font-size: clamp(1rem, 0.963rem + 0.1852vw, 1.125rem);
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    



    &:hover {
        text-decoration: none;
        background-color: $hover-color;
        color: $hover-text-color;
    }
}


.btn-primary {
    @include button(var(--clr-primary), var(--clr-white), var(--clr-secondary), var(--clr-primary));
}

.btn-secondary {
    @include button(var(--clr-secondary), var(--clr-primary), var(--clr-primary), var(--clr-white));
}

.btn-accent {
    @include button(var(--clr-accent), var(--clr-primary), var(--clr-primary), var(--clr-white));
}
