.container-bg-image {
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto;
}
