form {
    //padding: 1rem 2rem 3rem 2rem;
    //padding: 1rem 2rem 3rem 2rem;

   


    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea,
    select {
        width: 100%;
        padding: 10px;
        border-radius: 0;
        margin-bottom: 1.5rem;
    }


    input::placeholder, textarea::placeholder {
        @include text-xs;
        font-style: italic;
        color: var(--clr-note1);
    }


    textarea {
        resize: none;
    }



    .form-select {
        @include text-xs;
        color: var(--clr-body-text);
        margin-bottom: 1.5rem;
        padding: 12px;
        border-radius: 0;
    }

    select {
    }


    button[type="submit"] {
        @include text-m;
        font-weight: 700;
        border: none;
        color: var(--clr-primary);
        background-color: var(--clr-accent);
        border-radius: 0;
        width: 100%;
        padding: 12px;
        transition: all .2s ease-in-out;

        &:hover {
            background-color: var(--clr-secondary);
        }
    }
}

.invalid-feedback {
    padding: 0 .2rem;
    margin-top: -1.2rem;
    margin-bottom: .5rem;
}