form {
    //padding: 1rem 2rem 3rem 2rem;
    //padding: 1rem 2rem 3rem 2rem;




    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea,
    select {
        width: 100%;
        padding: 10px;
        border-radius: 0;
        margin-bottom: 1.5rem;
    }


    input::placeholder, textarea::placeholder {
        @include text-xs;
        font-style: italic;
        color: var(--clr-note1);
    }


    textarea {
        resize: none;
    }

    .form-control {
        box-shadow: none !important;

        &:focus {
            border-color: var(--clr-primary);
        }
    }



    .form-select {
        @include text-xs;
        color: var(--clr-body-text);
        margin-bottom: 1.5rem;
        padding: 12px;
        border-radius: 0;
    }

    .form-select {
        box-shadow: none !important;

        &:focus {
            border-color: var(--clr-primary);
        }
    }

    button[type="submit"] {
       
        border: none;
       
        border-radius: 4px;
       
        
        margin-top: .5rem;

    }
}

.invalid-feedback {
    position: absolute;
    padding: 0 .2rem;
    margin-top: -1.5rem;
    margin-bottom: .5rem;
}

.form-group {
    position: relative;

    i {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color: var(--clr-primary);
        font-size: 1.5rem;
        pointer-events: none;
    }

    &.is-valid {
        i {
            color: #198754;
        }
    }

    &.is-invalid {
        i {
            color: #DC3545;
        }
    }
}


