.services-card {
    background-color: var(--clr-neutral);
    overflow: hidden;
    border: 2px solid var(--clr-white-100);
    max-width: 100%;
    width: 100%;
    min-height: 350px;


    a {
        text-decoration: none;


        h4, p {
            padding: clamp(1rem, 0.8519rem + 0.7407vw, 1.5rem);
        }

        img {
            display: block;
            width: 100%;
            height: 220px;
            
            object-fit: cover;
        }
    }



    &:hover {
        border: 2px solid var(--clr-secondary);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    }
}
