@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ProjectPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels; 
@using Umbraco.Cms.Core.Models.Blocks;

@{
	Layout = "mainLayout.cshtml";
    ViewBag.Title = Model?.Value("pageTitle") ?? null;
    

        
}

@if (!string.IsNullOrEmpty(ViewBag.Title))
{
    @await Html.PartialAsync("partials/static/breadcrumbs.cshtml")
}

@await Html.GetBlockGridHtmlAsync(Model.TopLayout)
<section class="projects padding-tb">
    <div class="container">
        <div class="row justify-content-between padding-b ">

            <div class="content col-12 col-lg-8 d-flex flex-column gap-1 order-1 ">
                @Html.GetBlockListHtml(Model.MainLayout)
            </div>

            <div class="vertical-line"></div>

            <aside class="col-12 col-lg-3 d-flex flex-column order-3">
                @Html.GetBlockListHtml(Model.AsideLayout)
                
            </aside>
        </div>
    </div>
</section>
@await Html.GetBlockGridHtmlAsync(Model.BottomLayout)