@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ServiceItemTemplate>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels; 
@{
	Layout = "mainLayout.cshtml";
    ViewBag.Title = Model?.Value("pageTitle") ?? null;
}
@await Html.PartialAsync("~/Views/Partials/Alerts/_Alerts.cshtml")
@if (!string.IsNullOrEmpty(ViewBag.Title))
{
    @await Html.PartialAsync("partials/static/breadcrumbs.cshtml")
}

 <section class="services-details padding-tb">
    <div class="container">
        <div class="row justify-content-between">
            <aside class="col-12 col-lg-3 d-flex flex-column gap-4 order-2 order-lg-1">
                @Html.GetBlockListHtml(Model.AsideLayout)
            </aside>
            <div class="vertical-line"></div>

            <div class="content d-flex flex-column gap-1 col-12 col-lg-8 order-1 order-lg-2">
                @Model.Value("serviceContent")
            </div>
        </div>
    </div>
</section>
@await Html.GetBlockGridHtmlAsync(Model.BottomLayout)