@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper;


@{
    var selection = Umbraco.Content(Guid.Parse("810548e7-7402-4c7e-bc7c-84b84598e777"))
    .ChildrenOfType("projectItemTemplate")
    .Where(x => x.IsVisible());
}


@if (selection != null) 
{
    

}
<ul>
	@foreach (var item in selection)
	{
		<li>
			<a href="@item.Url()">@item.Name()</a>
		</li>
	}
</ul>



<div class="d-flex gap-4">

    <img class="col-6" src="/img/home/projects/pj1.svg" alt="">
                            
    <div class="col-6">
        <h4>Annual Report for Juva Inc.</h4>
        <i class="fa-solid fa-angle-right"></i>
        <p></p>

        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.</p>

    </div>

</div>

<hr>
