<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5ae422e3-49dd-4966-a302-2c377aac02c1" Alias="Align Content To - Dropdown" Level="1">
  <Info>
    <Name>Align Content To - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Top",
    "Center",
    "Bottom"
  ]
}]]></Config>
</DataType>