<?xml version="1.0" encoding="utf-8"?>
<DataType Key="db4fd92e-f06e-483c-8268-0e8a973329c0" Alias="Alignments - Radio Button List" Level="1">
  <Info>
    <Name>Alignments - Radio Button List</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Start",
    "Center",
    "End",
    "Full Width"
  ]
}]]></Config>
</DataType>