<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bff7b789-3211-477e-9e6b-223956e2e858" Alias="Button - Button Type - Dropdown Property" Level="1">
  <Info>
    <Name>Button - Button Type - Dropdown Property</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Primary",
    "Secondary",
    "Accent"
  ]
}]]></Config>
</DataType>