<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1bf43750-3175-42aa-b17e-457525d7df4a" Alias="Button - Alignment - Dropdown" Level="1">
  <Info>
    <Name>Button - Alignment - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Left",
    "Center",
    "Right",
    "Full Width"
  ]
}]]></Config>
</DataType>