<?xml version="1.0" encoding="utf-8"?>
<DataType Key="91827eed-6f6a-41d5-9d43-e40735841996" Alias="Column Picker" Level="1">
  <Info>
    <Name>Column Picker</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "1",
    "2",
    "3",
    "4",
    "5",
    "6",
    "7",
    "8",
    "9",
    "10",
    "11",
    "12"
  ]
}]]></Config>
</DataType>