<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eded5b50-2993-4e93-b89f-ae6b042eb30d" Alias="Form - Block Grid" Level="1">
  <Info>
    <Name>Form - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "82591675-2679-4da4-93ea-983a01060c6b",
      "allowAtRoot": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>