<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b193ac7c-e0f7-4e6e-8eff-38d779a6dd25" Alias="Form - Select Form - Block List" Level="1">
  <Info>
    <Name>Form - Select Form - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "00610b1b-dc7d-4da7-bfc6-085747dba801",
      "thumbnail": "/wwwroot/images/Contact info.svg"
    }
  ],
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>