<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fff96509-201b-4d52-b89a-1a6bdb01d49d" Alias="Form - Layout - Block List" Level="1">
  <Info>
    <Name>Form - Layout - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "33c80c3a-4570-4611-93a2-bb40f24d7230",
      "thumbnail": "/wwwroot/images/Contact info.jpg"
    }
  ]
}]]></Config>
</DataType>