<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f23872a3-f585-40c7-966b-ba51eea19dd2" Alias="Headings - Headline Type - Radio Button List" Level="1">
  <Info>
    <Name>Headings - Headline Type - Radio Button List</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Heading 1",
    "Heading 2",
    "Heading 3",
    "Heading 4",
    "Heading 5",
    "Heading 6"
  ]
}]]></Config>
</DataType>