<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ba7b55b-ff85-473a-9159-259da796e94e" Alias="Input Text - Input Types" Level="1">
  <Info>
    <Name>Input Text - Input Types</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Text",
    "Email",
    "Tel"
  ]
}]]></Config>
</DataType>