<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fc99e2f4-45a8-4954-ac72-d13841001883" Alias="Main Layout - Block List" Level="1">
  <Info>
    <Name>Main Layout - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b200c27a-b7f1-42bd-afa4-13e76f1c68ed"
    }
  ]
}]]></Config>
</DataType>