<?xml version="1.0" encoding="utf-8"?>
<DataType Key="14a626a2-77d7-41ad-8b22-228f7447c2fb" Alias="Modular Page - Templates - Block List" Level="1">
  <Info>
    <Name>Modular Page - Templates - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8d753aaf-5fcd-4e53-849b-7d3343e9c4de",
      "thumbnail": "/wwwroot/images/Contact info.jpg"
    }
  ],
  "useLiveEditing": false
}]]></Config>
</DataType>