<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e06b4530-c720-4f27-9bed-f91f19f7a6fc" Alias="Modular Page - Layout - Block Grid" Level="1">
  <Info>
    <Name>Modular Page - Layout - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "7d80a464-cbcf-4d7d-98bc-0029d55bb786",
      "name": "Layout"
    },
    {
      "key": "ac493326-7c85-420c-a71b-9a2350e8f3fa",
      "name": "Texts"
    },
    {
      "key": "3edc7aee-0544-4a6c-9c81-5387f33235ce",
      "name": "Images"
    },
    {
      "key": "13a3132d-9c0c-4b9f-812e-26af5e133dd6",
      "name": "Buttons"
    },
    {
      "key": "d65169d5-be61-4b95-8ccd-f5a59a47d039",
      "name": "Lists"
    },
    {
      "key": "c9f93c29-1add-4272-b008-7c15663a668d",
      "name": "Sections"
    },
    {
      "key": "a8842609-04b4-4c4b-a6b9-5b7a193741b4",
      "name": "Forms"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "3aa182ef-4d78-4262-b7ef-59cd74caab91",
      "allowAtRoot": false,
      "groupKey": "a8842609-04b4-4c4b-a6b9-5b7a193741b4",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "2b604e65-4e97-427b-9d31-3b838e06ec6e",
      "allowAtRoot": true,
      "groupKey": "c9f93c29-1add-4272-b008-7c15663a668d",
      "allowInAreas": false,
      "label": "Section - **Contact Info**"
    },
    {
      "contentElementTypeKey": "47f854fb-3fe5-4174-b7c7-633db747d0d0",
      "allowAtRoot": true,
      "groupKey": "c9f93c29-1add-4272-b008-7c15663a668d",
      "label": "Section - **{=sectionTitle}**"
    },
    {
      "contentElementTypeKey": "c93bd49a-8c22-4e4f-8622-82450266f997",
      "allowAtRoot": false,
      "groupKey": "a8842609-04b4-4c4b-a6b9-5b7a193741b4",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "53e53dd9-48e5-451d-bf22-6e688ee22791",
      "allowAtRoot": false,
      "groupKey": "d65169d5-be61-4b95-8ccd-f5a59a47d039",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "4bbcc47e-7a96-4939-b6c4-f87957cb18ef",
      "allowAtRoot": false,
      "groupKey": "d65169d5-be61-4b95-8ccd-f5a59a47d039",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "1219f78e-d653-4c07-b82d-f34a90323143",
      "allowAtRoot": false,
      "groupKey": "d65169d5-be61-4b95-8ccd-f5a59a47d039",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "f31e82e8-05db-4fff-aba4-3195b8311d4b",
      "allowAtRoot": false,
      "groupKey": "d65169d5-be61-4b95-8ccd-f5a59a47d039",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b26d307c-553d-4165-9d1f-679ee95dd00d",
      "allowAtRoot": false,
      "groupKey": "d65169d5-be61-4b95-8ccd-f5a59a47d039",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "4a8c3ae4-6fb6-46c4-924d-25b171b65fa3",
      "allowAtRoot": true,
      "label": "Section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "33d60e9b-50ca-4249-9f4d-04e715cf4fbb",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "7d80a464-cbcf-4d7d-98bc-0029d55bb786"
    },
    {
      "contentElementTypeKey": "6f2908ee-6e6d-42e9-b88c-075b526e3d6d",
      "allowAtRoot": false,
      "groupKey": "7d80a464-cbcf-4d7d-98bc-0029d55bb786",
      "allowInAreas": true,
      "areas": [
        {
          "key": "041bcff9-3cc1-4937-b5e1-19bd95354b97",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "4f4dba4e-af2a-4e19-b7c8-5c28f7e797fa",
      "allowAtRoot": false,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ],
      "areas": [
        {
          "key": "61a18458-85f6-419d-bd24-e414841f939d",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "7d80a464-cbcf-4d7d-98bc-0029d55bb786"
    },
    {
      "contentElementTypeKey": "f7d2ba41-c266-45b9-96a1-7e528a4a1cda",
      "allowAtRoot": true,
      "groupKey": "7d80a464-cbcf-4d7d-98bc-0029d55bb786",
      "label": "Section Split - **{=sectionTitle}**",
      "areas": [
        {
          "key": "4f83dfb2-e6db-4c29-80bc-a5908f90f1e7",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "groupKey": "ac493326-7c85-420c-a71b-9a2350e8f3fa"
            },
            {
              "minAllowed": 0,
              "groupKey": "d65169d5-be61-4b95-8ccd-f5a59a47d039"
            },
            {
              "minAllowed": 0,
              "groupKey": "c4ff443e-225f-4d7b-9388-cd58754220ee"
            }
          ]
        }
      ]
    },
    {
      "contentElementTypeKey": "c95c8c84-e42a-4381-a23c-2f004ed39447",
      "allowAtRoot": false,
      "groupKey": "a8842609-04b4-4c4b-a6b9-5b7a193741b4",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "51a378db-0aec-42dd-af62-946698b449dc",
      "allowAtRoot": false,
      "groupKey": "3edc7aee-0544-4a6c-9c81-5387f33235ce",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "68a56d8e-814a-483e-bc64-04b8d9d57abc",
      "allowAtRoot": false,
      "groupKey": "13a3132d-9c0c-4b9f-812e-26af5e133dd6",
      "allowInAreas": true,
      "label": "Button - **{=buttonText}**"
    },
    {
      "contentElementTypeKey": "2c71bcdb-8673-4998-ace3-ad0f9491c118",
      "allowAtRoot": false,
      "groupKey": "ac493326-7c85-420c-a71b-9a2350e8f3fa",
      "allowInAreas": true,
      "inlineEditing": false,
      "editorSize": "small",
      "areas": []
    },
    {
      "contentElementTypeKey": "3496ac54-3082-4f9c-9614-b128fac8ead0",
      "allowAtRoot": false,
      "groupKey": "ac493326-7c85-420c-a71b-9a2350e8f3fa",
      "label": "Paragraph - **{=paragraphText}**",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "d0228ef6-8822-43d2-a305-16fba0371622",
      "allowAtRoot": false,
      "groupKey": "ac493326-7c85-420c-a71b-9a2350e8f3fa",
      "label": "Quote - **{=quoteText}**",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "4c424117-76b2-4042-b03e-3ff754a808b5",
      "allowAtRoot": false,
      "groupKey": "ac493326-7c85-420c-a71b-9a2350e8f3fa",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "cf350569-7abe-4061-a59e-d5c583c66867",
      "allowAtRoot": false,
      "groupKey": "ac493326-7c85-420c-a71b-9a2350e8f3fa",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "c3cf46c1-66c5-4370-b469-61c5ad5ff768",
      "allowAtRoot": false,
      "groupKey": "ac493326-7c85-420c-a71b-9a2350e8f3fa",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "25bcd359-14f2-434a-a012-ef3a4521cf4e",
      "allowAtRoot": false,
      "groupKey": "ac493326-7c85-420c-a71b-9a2350e8f3fa",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "5678b823-12b2-4312-96ea-fdf6b035ff57",
      "allowAtRoot": false,
      "groupKey": "ac493326-7c85-420c-a71b-9a2350e8f3fa",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "2730e985-212a-4fff-ad54-52c117f4cd65",
      "allowAtRoot": false,
      "groupKey": "ac493326-7c85-420c-a71b-9a2350e8f3fa",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>