<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5cef9b37-10ca-4d38-838e-de97cf716fb9" Alias="Onatrix - Color Picker" Level="1">
  <Info>
    <Name>Onatrix - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "4F5955",
      "label": "Primary"
    },
    {
      "value": "D9C3A9",
      "label": "Secondary"
    },
    {
      "value": "F2EDDC",
      "label": "Accent"
    },
    {
      "value": "F7F7F7",
      "label": "Gray - 1"
    },
    {
      "value": "9C9EA6",
      "label": "Gray - 2"
    },
    {
      "value": "999999",
      "label": "Gray - 3"
    },
    {
      "value": "535656",
      "label": "Gray - 4"
    },
    {
      "value": "0E0E0E",
      "label": "Dark"
    },
    {
      "value": "FFFFFF",
      "label": "White"
    },
    {
      "value": "FFF",
      "label": "None"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>