<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9319a50e-f655-4c68-9508-c7371ef05b64" Alias="Paragraph - Paragraph Style - Radio Button" Level="1">
  <Info>
    <Name>Paragraph - Paragraph Style - Radio Button</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Regular",
    "Italic"
  ]
}]]></Config>
</DataType>