<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e315ec62-b5c7-43d7-8255-1f1f450cfad3" Alias="Paragraph - Paragraph Size - Radio Button List" Level="1">
  <Info>
    <Name>Paragraph - Paragraph Size - Radio Button List</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "xs",
    "s",
    "m",
    "l",
    "xl",
    "xxl"
  ]
}]]></Config>
</DataType>