<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ce2c9d94-aded-45ac-8919-e100a3c52ecb" Alias="Partners List - Partners Logos - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Partners List - Partners Logos - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3f89d367-61f3-46f2-8364-705d73d9c688",
      "label": "Logo - **{=companyName}**"
    }
  ]
}]]></Config>
</DataType>