<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e681e9e1-5afd-47e2-8bbd-a7e7b0c6bda3" Alias="Rich Text - Rich Text Content" Level="1">
  <Info>
    <Name>Rich Text - Rich Text Content</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxImageSize": 0,
  "mode": "Classic",
  "stylesheets": [
    "/rte.css"
  ],
  "toolbar": [
    "undo",
    "redo",
    "cut",
    "copy",
    "paste",
    "styles",
    "fontname",
    "forecolor",
    "blockquote",
    "formatblock",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "table",
    "sourcecode",
    "umbmediapicker",
    "umbembeddialog",
    "link",
    "umbblockpicker"
  ]
}]]></Config>
</DataType>