<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c8eafa40-3f63-4c81-9d16-68541397052a" Alias="Section Split - Image Position" Level="1">
  <Info>
    <Name>Section Split - Image Position</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Left",
    "Right"
  ]
}]]></Config>
</DataType>