<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3a3fa2e1-826f-4781-bcd5-f816563722f2" Alias="Social Media Item - Platform Name - Dropdown" Level="1">
  <Info>
    <Name>Social Media Item - Platform Name - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Facebook",
    "Instagram",
    "Linkedin",
    "X",
    "TikTok",
    "Youtube"
  ]
}]]></Config>
</DataType>