<?xml version="1.0" encoding="utf-8"?>
<DataType Key="94cfd8de-5822-4407-bfce-1fe90e5b7ce4" Alias="Social Media Platforms - List" Level="1">
  <Info>
    <Name>Social Media Platforms - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "fa29cf71-0c63-4ef8-a8c3-3249a432b850",
      "label": "**{=platformName}** - {=platformAccountUrl}"
    }
  ]
}]]></Config>
</DataType>