<?xml version="1.0" encoding="utf-8"?>
<DataType Key="88edd922-7913-44b8-9b65-71da6b2e6761" Alias="Success List - SuccessCards - Block List" Level="1">
  <Info>
    <Name>Success List - SuccessCards - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e89cca62-3a35-4045-8d69-166c3949474f",
      "label": "Card - **{=successTitle}**"
    }
  ]
}]]></Config>
</DataType>