<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0c25d6b-2f1e-4935-ba45-30b8e2b94641" Alias="Team Members List - Team Members" Level="1">
  <Info>
    <Name>Team Members List - Team Members</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b88934e7-66ad-4a8c-a047-77edf5c1a91e",
      "label": "Team Member - **{=teamMemberName}**"
    }
  ]
}]]></Config>
</DataType>