<?xml version="1.0" encoding="utf-8"?>
<Media Key="55b1012c-7f67-4070-98d4-6876400e0d20" Alias="Aaron Lambert.svg" Level="2">
  <Info>
    <Parent Key="d867eeb9-9cf4-43d6-8099-299ab5f1acb5">Team</Parent>
    <Path>/Team/AaronLambertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T23:16:55</CreateDate>
    <NodeName Default="Aaron Lambert.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/104bhn12/aaron-lambert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>