<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f722e8e-0be3-4be6-a730-759c1b997a80" Alias="About-thumbnail.svg" Level="2">
  <Info>
    <Parent Key="08de371c-e5a6-4895-a855-a01d119ae838">About</Parent>
    <Path>/About/AboutThumbnailsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-13T11:39:14</CreateDate>
    <NodeName Default="About-thumbnail.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/psjnbdpy/about-thumbnail.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>