<?xml version="1.0" encoding="utf-8"?>
<Media Key="08de371c-e5a6-4895-a855-a01d119ae838" Alias="About" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/About</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-10T11:41:47</CreateDate>
    <NodeName Default="About" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>