<?xml version="1.0" encoding="utf-8"?>
<Media Key="3263d019-776e-435c-8943-bb4297ddf739" Alias="AJ-Carter.svg" Level="2">
  <Info>
    <Parent Key="d867eeb9-9cf4-43d6-8099-299ab5f1acb5">Team</Parent>
    <Path>/Team/AJCartersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T23:16:57</CreateDate>
    <NodeName Default="AJ-Carter.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3nwndudv/aj-carter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>