<?xml version="1.0" encoding="utf-8"?>
<Media Key="e405d6fa-2e32-4fca-bc73-01a2ef7a8734" Alias="AJ-Carter.svg" Level="3">
  <Info>
    <Parent Key="4c4c37b4-6720-4728-9a79-7ee61352d2c2">Team</Parent>
    <Path>/Thumbnails/Team/AJCartersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T23:15:49</CreateDate>
    <NodeName Default="AJ-Carter.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bbvlobrj/aj-carter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>