<?xml version="1.0" encoding="utf-8"?>
<Media Key="569e1157-8a9b-4c73-84dd-52197e87d11e" Alias="Annual-Report.svg" Level="2">
  <Info>
    <Parent Key="9a7971c6-bf67-4fc2-9ecd-4b54a20af52a">Projects</Parent>
    <Path>/Projects/AnnualReportsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T15:44:26</CreateDate>
    <NodeName Default="Annual-Report.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uwwdznea/annual-report.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>