<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6d1ff3f-4465-43e8-a31e-1bbd5f67d5ce" Alias="annual-report-facilisis.svg" Level="2">
  <Info>
    <Parent Key="9a7971c6-bf67-4fc2-9ecd-4b54a20af52a">Projects</Parent>
    <Path>/Projects/annualReportFacilisissvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-30T17:49:08</CreateDate>
    <NodeName Default="annual-report-facilisis.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zvbhgnd4/annual-report-facilisis.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>