<?xml version="1.0" encoding="utf-8"?>
<Media Key="bb877757-cbe5-40d1-8084-257309d6636c" Alias="Brandon-Kerr.svg" Level="2">
  <Info>
    <Parent Key="d867eeb9-9cf4-43d6-8099-299ab5f1acb5">Team</Parent>
    <Path>/Team/BrandonKerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T23:16:58</CreateDate>
    <NodeName Default="Brandon-Kerr.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uxfckwp4/brandon-kerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>