<?xml version="1.0" encoding="utf-8"?>
<Media Key="42fb4c6b-e015-40f1-b36a-060ffbd35ae9" Alias="Brandon-Newton.svg" Level="2">
  <Info>
    <Parent Key="d867eeb9-9cf4-43d6-8099-299ab5f1acb5">Team</Parent>
    <Path>/Team/BrandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T23:16:59</CreateDate>
    <NodeName Default="Brandon-Newton.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/thyftiao/brandon-newton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>