<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee9442b1-9e81-4dc8-87e5-8844492d7c47" Alias="Brandon-Newton.svg" Level="3">
  <Info>
    <Parent Key="4c4c37b4-6720-4728-9a79-7ee61352d2c2">Team</Parent>
    <Path>/Thumbnails/Team/BrandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T23:15:51</CreateDate>
    <NodeName Default="Brandon-Newton.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ip5dmde0/brandon-newton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>