<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5e19ce1-955a-4570-aca9-2acc1b943021" Alias="Budget-Planning.svg" Level="2">
  <Info>
    <Parent Key="9a7971c6-bf67-4fc2-9ecd-4b54a20af52a">Projects</Parent>
    <Path>/Projects/BudgetPlanningsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T15:44:27</CreateDate>
    <NodeName Default="Budget-Planning.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cmqfgv0b/budget-planning.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>