<?xml version="1.0" encoding="utf-8"?>
<Media Key="21344659-f138-4bf7-8ef6-a0b20bf92bc4" Alias="Business-Insights.svg" Level="2">
  <Info>
    <Parent Key="9a7971c6-bf67-4fc2-9ecd-4b54a20af52a">Projects</Parent>
    <Path>/Projects/BusinessInsightssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T15:44:29</CreateDate>
    <NodeName Default="Business-Insights.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vp3jnqzd/business-insights.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>