<?xml version="1.0" encoding="utf-8"?>
<Media Key="000ee2f9-13e2-4360-af4c-493294da330f" Alias="Contact" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-10T21:37:07</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>