<?xml version="1.0" encoding="utf-8"?>
<Media Key="19d9d688-400a-4694-bb8c-63894f1f8226" Alias="ContactImage.svg" Level="2">
  <Info>
    <Parent Key="000ee2f9-13e2-4360-af4c-493294da330f">Contact</Parent>
    <Path>/Contact/ContactImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T21:37:12</CreateDate>
    <NodeName Default="ContactImage.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pjvhx4yr/contactimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>