<?xml version="1.0" encoding="utf-8"?>
<Media Key="4852f5a8-8b20-4f6a-aeb0-577dc4434671" Alias="Dot-globe.svg" Level="2">
  <Info>
    <Parent Key="d4cbf880-18f4-43a8-88d7-89d977457ea3">Home</Parent>
    <Path>/Home/DotGlobesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-08T21:43:46</CreateDate>
    <NodeName Default="Dot-globe.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ljepbkr1/dot-globe.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>