<?xml version="1.0" encoding="utf-8"?>
<Media Key="830bea79-9816-42d4-bdd4-6b4f90dcc72f" Alias="estate-planning.webp" Level="2">
  <Info>
    <Parent Key="9868e89e-777e-4052-aedf-e239bcd73465">Services</Parent>
    <Path>/Services/estatePlanningwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-30T17:34:04</CreateDate>
    <NodeName Default="estate-planning.webp" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4yqe0nl5/estate-planning.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>