<?xml version="1.0" encoding="utf-8"?>
<Media Key="c57f9734-e838-4e68-9389-c4b0be6d71c4" Alias="Financial-Advisors.svg" Level="2">
  <Info>
    <Parent Key="9a7971c6-bf67-4fc2-9ecd-4b54a20af52a">Projects</Parent>
    <Path>/Projects/FinancialAdvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T15:44:30</CreateDate>
    <NodeName Default="Financial-Advisors.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yyvn0jzd/financial-advisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>