<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c5d4ec1-0040-4946-b265-b82c71a6411d" Alias="Financial-Advisor.svg" Level="2">
  <Info>
    <Parent Key="9868e89e-777e-4052-aedf-e239bcd73465">Services</Parent>
    <Path>/Services/FinancialAdvisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:37:59</CreateDate>
    <NodeName Default="Financial-Advisor.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gpzp51s1/financial-advisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>