<?xml version="1.0" encoding="utf-8"?>
<Media Key="9c4f492f-1b21-4cda-b3da-0e9582c11a7f" Alias="fossilgroup.svg" Level="2">
  <Info>
    <Parent Key="30f9ab5b-2aae-4d81-9706-b022ecce531c">Partners</Parent>
    <Path>/Partners/fossilgroupsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-07T23:39:38</CreateDate>
    <NodeName Default="fossilgroup.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1x0o05r0/fossilgroup.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>