<?xml version="1.0" encoding="utf-8"?>
<Media Key="d4cbf880-18f4-43a8-88d7-89d977457ea3" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-08T21:43:42</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>