<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3fadbd4-240b-49e5-8ee0-e37646ad166c" Alias="identity.svg" Level="2">
  <Info>
    <Parent Key="30f9ab5b-2aae-4d81-9706-b022ecce531c">Partners</Parent>
    <Path>/Partners/identitysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-07T23:39:41</CreateDate>
    <NodeName Default="identity.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eztfqmiq/identity.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>