<?xml version="1.0" encoding="utf-8"?>
<Media Key="eaf4614f-cb2d-49f3-a0ea-078f3b8f7ab7" Alias="Image1.svg" Level="3">
  <Info>
    <Parent Key="49e5afc7-713d-4900-bc93-6878c6f15482">Risk Management</Parent>
    <Path>/Services/RiskManagement/Image1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-13T15:32:22</CreateDate>
    <NodeName Default="Image1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xxofmcbw/image1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>