<?xml version="1.0" encoding="utf-8"?>
<Media Key="89d0046b-4e63-4bf9-9b97-c853f2b30ebf" Alias="Image2.svg" Level="3">
  <Info>
    <Parent Key="49e5afc7-713d-4900-bc93-6878c6f15482">Risk Management</Parent>
    <Path>/Services/RiskManagement/Image2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-13T15:32:24</CreateDate>
    <NodeName Default="Image2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tg2he01y/image2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>