<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed0d67f2-38a2-4ed0-bb50-f1072d683d61" Alias="Img-1-4 1.svg" Level="2">
  <Info>
    <Parent Key="9a7971c6-bf67-4fc2-9ecd-4b54a20af52a">Projects</Parent>
    <Path>/Projects/Img141svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-02T10:41:47</CreateDate>
    <NodeName Default="Img-1-4 1.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/adnk4d3z/img-1-4-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>