<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9a5e12f-41f5-42f4-90ff-b33e818a3af7" Alias="Kevin-Gardner.svg" Level="2">
  <Info>
    <Parent Key="d867eeb9-9cf4-43d6-8099-299ab5f1acb5">Team</Parent>
    <Path>/Team/KevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T23:17:00</CreateDate>
    <NodeName Default="Kevin-Gardner.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1voaow5o/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>