<?xml version="1.0" encoding="utf-8"?>
<Media Key="5b180be5-2d88-44e0-bd5e-413b0eb5f3ee" Alias="Kevin-Gardner.svg" Level="3">
  <Info>
    <Parent Key="4c4c37b4-6720-4728-9a79-7ee61352d2c2">Team</Parent>
    <Path>/Thumbnails/Team/KevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T23:15:52</CreateDate>
    <NodeName Default="Kevin-Gardner.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c41lvomt/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>