<?xml version="1.0" encoding="utf-8"?>
<Media Key="c67fc78c-6445-43f6-9132-3d7858f00846" Alias="kevin-gardner.svg" Level="2">
  <Info>
    <Parent Key="08de371c-e5a6-4895-a855-a01d119ae838">About</Parent>
    <Path>/About/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T11:41:52</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pz3n0jc4/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>