<?xml version="1.0" encoding="utf-8"?>
<Media Key="f8b8083f-94f8-4222-b936-71e8239939c5" Alias="Loggo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Loggo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-24T11:59:07</CreateDate>
    <NodeName Default="Loggo" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>