<?xml version="1.0" encoding="utf-8"?>
<Media Key="34f00e27-a2e9-41b7-9753-11688182c75e" Alias="map 1.svg" Level="2">
  <Info>
    <Parent Key="000ee2f9-13e2-4360-af4c-493294da330f">Contact</Parent>
    <Path>/Contact/map1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T18:51:17</CreateDate>
    <NodeName Default="map 1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0wzffvxs/map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>