<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9251f2a-b86a-4aa8-b3b8-bfa0088bb067" Alias="natural.svg" Level="2">
  <Info>
    <Parent Key="30f9ab5b-2aae-4d81-9706-b022ecce531c">Partners</Parent>
    <Path>/Partners/naturalsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-07T23:39:42</CreateDate>
    <NodeName Default="natural.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1crioo1r/natural.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>