<?xml version="1.0" encoding="utf-8"?>
<Media Key="9469b065-3f34-4c3a-8e0c-383f94623067" Alias="onatrix-loggo.svg" Level="2">
  <Info>
    <Parent Key="f8b8083f-94f8-4222-b936-71e8239939c5">Loggo</Parent>
    <Path>/Loggo/onatrixLoggosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T11:59:42</CreateDate>
    <NodeName Default="onatrix-loggo.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s2gnw3rp/onatrix-loggo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>