<?xml version="1.0" encoding="utf-8"?>
<Media Key="30f9ab5b-2aae-4d81-9706-b022ecce531c" Alias="Partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-07T23:39:33</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>