<?xml version="1.0" encoding="utf-8"?>
<Media Key="3250f900-574b-429d-a92a-ca759d20650e" Alias="pj2 (1).svg" Level="2">
  <Info>
    <Parent Key="9a7971c6-bf67-4fc2-9ecd-4b54a20af52a">Projects</Parent>
    <Path>/Projects/pj21Svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-30T18:18:24</CreateDate>
    <NodeName Default="pj2 (1).svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4jcpfucq/pj2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>