<?xml version="1.0" encoding="utf-8"?>
<Media Key="3af5efab-2c16-4868-9c5e-be88e8fc2967" Alias="pj4 1 (1).svg" Level="2">
  <Info>
    <Parent Key="9a7971c6-bf67-4fc2-9ecd-4b54a20af52a">Projects</Parent>
    <Path>/Projects/pj411Svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-30T18:16:08</CreateDate>
    <NodeName Default="pj4 1 (1).svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lfjfpwan/pj4-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>