<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a7971c6-bf67-4fc2-9ecd-4b54a20af52a" Alias="Projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-09T15:44:21</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>