<?xml version="1.0" encoding="utf-8"?>
<Media Key="561619c3-9be1-4d4d-b0e0-094a14e296d7" Alias="Rating.svg" Level="2">
  <Info>
    <Parent Key="08de371c-e5a6-4895-a855-a01d119ae838">About</Parent>
    <Path>/About/Ratingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T16:03:18</CreateDate>
    <NodeName Default="Rating.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ggsljnh0/rating.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>