<?xml version="1.0" encoding="utf-8"?>
<Media Key="49e5afc7-713d-4900-bc93-6878c6f15482" Alias="Risk Management" Level="2">
  <Info>
    <Parent Key="9868e89e-777e-4052-aedf-e239bcd73465">Services</Parent>
    <Path>/Services/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-13T15:30:51</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>