<?xml version="1.0" encoding="utf-8"?>
<Media Key="b416d995-dae1-4e84-9109-3ddacd370bcf" Alias="Signature" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Signature</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-24T10:44:02</CreateDate>
    <NodeName Default="Signature" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>