<?xml version="1.0" encoding="utf-8"?>
<Media Key="edfb3c56-8773-4dd5-a66e-f38e78b86972" Alias="signature-tina-fox.svg" Level="2">
  <Info>
    <Parent Key="b416d995-dae1-4e84-9109-3ddacd370bcf">Signature</Parent>
    <Path>/Signature/signatureTinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T10:44:23</CreateDate>
    <NodeName Default="signature-tina-fox.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/usafsd1i/signature-tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>