<?xml version="1.0" encoding="utf-8"?>
<Media Key="402af1ab-19c3-4c09-b5e3-bab4c6afba06" Alias="Statistic-Advisors.svg" Level="2">
  <Info>
    <Parent Key="9868e89e-777e-4052-aedf-e239bcd73465">Services</Parent>
    <Path>/Services/StatisticAdvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:38:01</CreateDate>
    <NodeName Default="Statistic-Advisors.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lfgiriwy/statistic-advisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>