<?xml version="1.0" encoding="utf-8"?>
<Media Key="df4cec55-acb3-42ea-867f-71206b7ede3b" Alias="Tax-Trusts.svg" Level="2">
  <Info>
    <Parent Key="9868e89e-777e-4052-aedf-e239bcd73465">Services</Parent>
    <Path>/Services/TaxTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T12:38:02</CreateDate>
    <NodeName Default="Tax-Trusts.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u3ip2pni/tax-trusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>