<?xml version="1.0" encoding="utf-8"?>
<Media Key="d867eeb9-9cf4-43d6-8099-299ab5f1acb5" Alias="Team" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Team</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-10T23:16:49</CreateDate>
    <NodeName Default="Team" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>