<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c4c37b4-6720-4728-9a79-7ee61352d2c2" Alias="Team" Level="2">
  <Info>
    <Parent Key="22373cdd-cd1f-4cd2-b61c-e52b55ef383a">Thumbnails</Parent>
    <Path>/Thumbnails/Team</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-10T23:15:43</CreateDate>
    <NodeName Default="Team" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>