<?xml version="1.0" encoding="utf-8"?>
<Media Key="66ffb350-a8a8-4122-bd9a-917cdcc50b32" Alias="Tina-Fox.svg" Level="2">
  <Info>
    <Parent Key="d867eeb9-9cf4-43d6-8099-299ab5f1acb5">Team</Parent>
    <Path>/Team/TinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T23:17:02</CreateDate>
    <NodeName Default="Tina-Fox.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uihf1bft/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>