<?xml version="1.0" encoding="utf-8"?>
<Media Key="85f5567b-9857-4144-bb4a-bd633bffd49b" Alias="Tina-Fox.svg" Level="3">
  <Info>
    <Parent Key="4c4c37b4-6720-4728-9a79-7ee61352d2c2">Team</Parent>
    <Path>/Thumbnails/Team/TinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T23:15:55</CreateDate>
    <NodeName Default="Tina-Fox.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rhvfoz0m/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>