<?xml version="1.0" encoding="utf-8"?>
<Media Key="07e16d15-c05b-4970-b3cc-96f6355d2c3c" Alias="tina-fox.svg" Level="2">
  <Info>
    <Parent Key="08de371c-e5a6-4895-a855-a01d119ae838">About</Parent>
    <Path>/About/tinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T22:39:09</CreateDate>
    <NodeName Default="tina-fox.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/25iehzka/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>