.form-support {
    background-color: var(--clr-primary);
    padding: 1.5rem 1.5rem;
    border-radius: 8px;
    background-image: url(/images/Mail.svg);
    background-repeat: no-repeat;
    background-position: right bottom;

    h4 {
        color: var(--clr-accent);
    }

    p {
        color: var(--clr-neutral);
    }

   

    .form-control {
        background-image: none;
    }

}
