<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4f4dba4e-af2a-4e19-b7c8-5c28f7e797fa" Alias="columns" Level="3">
  <Info>
    <Name>Columns</Name>
    <Icon>icon-checkbox-dotted</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blockgrid+Components/Layouts</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c688a5cf-5a24-4526-bacf-6b074ae63ca4</Key>
      <Name>Align Content</Name>
      <Alias>alignContentTo</Alias>
      <Definition>5ae422e3-49dd-4966-a302-2c377aac02c1</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose how the content in the columns are vertically  aligned. (Default is center)]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="layout/alignment">Alignment</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9cdb77f0-7d0d-4dcf-9d48-32a054b1d419</Key>
      <Name>Laptop</Name>
      <Alias>laptopColumns</Alias>
      <Definition>91827eed-6f6a-41d5-9d43-e40735841996</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Define the number of columns the element should span on laptop devices. (Default is 12).]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="layout/columns">Columns</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>61e8fc92-87b3-4438-930e-5131ed762120</Key>
      <Name>Mobile</Name>
      <Alias>mobileColumns</Alias>
      <Definition>91827eed-6f6a-41d5-9d43-e40735841996</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Define the number of columns the element should span on mobile devices. (Default is 12).]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="layout/columns">Columns</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6b6cc9ab-ebbf-4483-945b-9c4f7d61a55d</Key>
      <Name>Tablet</Name>
      <Alias>tabletColumns</Alias>
      <Definition>91827eed-6f6a-41d5-9d43-e40735841996</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Define the number of columns the element should span on tablet devices. (Default is 12).]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="layout/columns">Columns</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1ffd413f-2e16-40a1-b0a0-88c91aec374c</Key>
      <Caption>Alignment</Caption>
      <Alias>layout/alignment</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>4a696047-7127-4af9-891f-9e69918abd01</Key>
      <Caption>Columns</Caption>
      <Alias>layout/columns</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>b3c2ca0c-3639-45be-817e-9e0ce7ded04a</Key>
      <Caption>Layout</Caption>
      <Alias>layout</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>