<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="93108a2f-2983-43d6-864a-469a51051811" Alias="modularPage" Level="2">
  <Info>
    <Name>Modular Page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>modularPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="805d7dbc-f7ea-4bcd-b4c5-5e04196bdff6">modularPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="93108a2f-2983-43d6-864a-469a51051811" SortOrder="0">modularPage</ContentType>
    <ContentType Key="a0071088-08de-4ee8-8629-438e67c38895" SortOrder="1">servicePage</ContentType>
    <ContentType Key="59b9b831-7a17-4774-8fba-c26b1bd7d47b" SortOrder="2">projectPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>1a6f1d8f-a5b1-47f0-ac2e-8f8cbdbdda99</Key>
      <Name>Layout</Name>
      <Alias>layout</Alias>
      <Definition>e06b4530-c720-4f27-9bed-f91f19f7a6fc</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/pageLayout">Page Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4688a4c6-bc46-41d5-b8ea-a3df4bae925b</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>55e87102-7b7e-44b3-85f9-297c2c7b6d8b</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>8b49cdc8-e745-4136-b4cf-77761b5dce1f</Key>
      <Caption>Page Layout</Caption>
      <Alias>content/pageLayout</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>