<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="59b9b831-7a17-4774-8fba-c26b1bd7d47b" Alias="projectPage" Level="2">
  <Info>
    <Name>Project Page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>projectPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9c6f5ca3-b463-4d45-ae0f-72dea5c5009d">projectPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ebf95abe-934d-4172-804d-66cb6c78cafa" SortOrder="0">projectItemTemplate</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>9a2ee854-99ec-4c76-9b50-272a9320fd8c</Key>
      <Name>Aside Layout</Name>
      <Alias>asideLayout</Alias>
      <Definition>8e71c5e0-850b-4167-9b4f-6479fa112ca0</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/main">Main</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4720560c-750d-48f7-a37e-c9b2a0e6cdb9</Key>
      <Name>Bottom Layout</Name>
      <Alias>bottomLayout</Alias>
      <Definition>e06b4530-c720-4f27-9bed-f91f19f7a6fc</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/bottom">Bottom</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>580831f6-14d0-4125-832d-7783c8d5df88</Key>
      <Name>Main Layout</Name>
      <Alias>mainLayout</Alias>
      <Definition>e06b4530-c720-4f27-9bed-f91f19f7a6fc</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/main">Main</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>69176c1f-c459-4abe-a306-7b47225b17c7</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cd37b0fc-4613-4132-b71f-672393e05f55</Key>
      <Name>Top Layout</Name>
      <Alias>topLayout</Alias>
      <Definition>e06b4530-c720-4f27-9bed-f91f19f7a6fc</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/top">Top</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>12a5e571-9f32-48bd-96c3-6d74711cc3f2</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>54f7c263-d680-4089-9b98-8d7dd96422c4</Key>
      <Caption>Bottom</Caption>
      <Alias>content/bottom</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>98ab1629-ee7e-446c-a301-09945bf23b6f</Key>
      <Caption>Top</Caption>
      <Alias>content/top</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>a7688548-bc96-46ac-b4dc-f57426946382</Key>
      <Caption>Main</Caption>
      <Alias>content/main</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>