<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="95ee3443-d109-4e04-bb1e-4c8c577a06ea" Alias="questions" Level="3">
  <Info>
    <Name>Questions</Name>
    <Icon>icon-documents</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Submissions/Questions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="19c707d0-38d6-43d5-8ab5-97fbc4ade3b0" SortOrder="0">questionsItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>