<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8c1b8ca6-9510-4380-a10c-426aef31ea94" Alias="requests" Level="3">
  <Info>
    <Name>Requests</Name>
    <Icon>icon-documents</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Submissions/Requests</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="27582689-2c86-4ddf-8c3f-9e021ee53209" SortOrder="0">requestsItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>