<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f7d2ba41-c266-45b9-96a1-7e528a4a1cda" Alias="sectionSplit" Level="3">
  <Info>
    <Name>Section Split</Name>
    <Icon>icon-checkbox-dotted</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Full-widht on one side only. </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blockgrid+Components/Layouts</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8e7cf4ed-e757-44f0-94a6-4b3fa4056357</Key>
      <Name>Add Space To Bottom</Name>
      <Alias>addSpaceToBottom</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enable to add extra space (padding) at the bottom of the section.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="advanced/padding">Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a8665d20-f445-4f3b-9797-1c73b9547810</Key>
      <Name>Add Space To Top</Name>
      <Alias>addSpaceToTop</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enable to add extra space (padding) at the top of the section.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="advanced/padding">Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>81431cc7-8fda-47d8-966a-fefd00a110a3</Key>
      <Name>Image Position</Name>
      <Alias>imagePosition</Alias>
      <Definition>c8eafa40-3f63-4c81-9d16-68541397052a</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the alignment of the image in the split section. Choose "Left" to display the image on the left side with text on the right, or "Right" to position the image on the right side with text on the left.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="layout">Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d741c787-1890-43b4-b7bf-3bfbf56c8b6c</Key>
      <Name>Color</Name>
      <Alias>sectionBackgroundColor</Alias>
      <Definition>5cef9b37-10ca-4d38-838e-de97cf716fb9</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select a background color for the section.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="style/background">Background</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bc7fe163-4718-4fe5-8b83-0ae484e76504</Key>
      <Name>Section Image</Name>
      <Alias>sectionImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>707f4f1b-a37c-4bae-b946-c424705a620f</Key>
      <Name>Section Title</Name>
      <Alias>sectionTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>18e21278-6b81-4fc2-a428-4895defd3564</Key>
      <Caption>Padding</Caption>
      <Alias>advanced/padding</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>28a6f08f-0bbb-459e-bd59-20540d3b55c1</Key>
      <Caption>Layout</Caption>
      <Alias>layout</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>34f3c651-8c4e-4b9c-b31a-148ef602bc5d</Key>
      <Caption>Advanced</Caption>
      <Alias>advanced</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>37b4979f-1aa5-4b24-91b9-42e83c126fe9</Key>
      <Caption>Background</Caption>
      <Alias>style/background</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>eff7d48f-e2e6-4a37-b2a8-8212892c77b2</Key>
      <Caption>Style</Caption>
      <Alias>style</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>fda83607-48b3-404c-8bf5-6a2b7a350f90</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>