<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d0c91f2a-1947-47f5-a298-ab16771bda29" Alias="supports" Level="3">
  <Info>
    <Name>Supports</Name>
    <Icon>icon-documents</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Submissions/Supports</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="1317b32c-4c5d-42b5-be52-4835afb867e7" SortOrder="0">supportsItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>