@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

body {
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  font-size: 1rem;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

@media (prefers-reduced-moton: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
ul[role=list], ol[role=list] {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --clr-neutral: #ffffff;
  --clr-white: #F2EDDC;
  --clr-white-100: #F7F7F7;
  --clr-dark: #0E0E0E;
  --clr-primary: #4F5955;
  --clr-main-light: #606966;
  --clr-accent: #F2EDDC;
  --clr-secondary: #D9C3A9;
  --clr-gray-400: #4B5264;
  --clr-body-text: #535656;
  --clr-body-text-100: #999999;
  --clr-note1: #9C9EA6;
  --clr-border-gray: #EAEAEA;
  --clr-border-400: #C7C8C9;
}

h1 {
  line-height: 120%;
  font-weight: 700;
  color: var(--clr-primary);
  font-family: "Poppins", "sans-serif";
  text-wrap: balance;
  margin-bottom: 1rem;
  font-size: clamp(2.2rem, 1.5556rem + 3.2222vw, 4.375rem);
}

h2 {
  line-height: 120%;
  font-weight: 700;
  color: var(--clr-primary);
  font-family: "Poppins", "sans-serif";
  text-wrap: balance;
  margin-bottom: 1rem;
  font-size: clamp(1.625rem, 1.3657rem + 1.2963vw, 2.5rem);
}

h3 {
  line-height: 120%;
  font-weight: 700;
  color: var(--clr-primary);
  font-family: "Poppins", "sans-serif";
  text-wrap: balance;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

h4 {
  line-height: 120%;
  font-weight: 700;
  color: var(--clr-primary);
  font-family: "Poppins", "sans-serif";
  text-wrap: balance;
  margin-bottom: 1rem;
  font-size: clamp(1.25rem, 1.213rem + 0.1852vw, 1.375rem);
  font-weight: 600;
  margin: 0;
}

h5 {
  line-height: 120%;
  font-weight: 700;
  color: var(--clr-primary);
  font-family: "Poppins", "sans-serif";
  text-wrap: balance;
  margin-bottom: 1rem;
  font-size: 1.5625rem;
}

.text-xs {
  line-height: 160%;
  font-weight: 400;
  color: var(--clr-body-text);
  font-family: "Poppins", "sans-serif";
  margin: 0;
  font-size: 0.8125rem;
}

.text-s {
  line-height: 160%;
  font-weight: 400;
  color: var(--clr-body-text);
  font-family: "Poppins", "sans-serif";
  margin: 0;
  font-size: 0.875rem;
}

.text-m {
  line-height: 160%;
  font-weight: 400;
  color: var(--clr-body-text);
  font-family: "Poppins", "sans-serif";
  margin: 0;
  font-size: 1rem;
}

.text-lg {
  line-height: 160%;
  font-weight: 400;
  color: var(--clr-body-text);
  font-family: "Poppins", "sans-serif";
  margin: 0;
  font-size: 1.125rem;
}

.text-xl {
  line-height: 160%;
  font-weight: 400;
  color: var(--clr-body-text);
  font-family: "Poppins", "sans-serif";
  margin: 0;
  font-size: 1.25rem;
}

.text-lead {
  line-height: 160%;
  font-weight: 400;
  color: var(--clr-body-text);
  font-family: "Poppins", "sans-serif";
  margin: 0;
  font-size: 1.5625rem;
}

.text-primary {
  color: var(--clr-primary);
}

.text-secondary {
  color: var(--clr-secondary);
}

.text-accent {
  color: var(--clr-accent);
}

.text-note {
  color: var(--clr-note1);
}

.wrapper {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}

.section-wrapper {
  position: relative;
  height: 100%;
}
@media (min-width: 1400px) {
  .section-wrapper {
    height: var(--section-height, 100%);
  }
}

.section-height {
  position: relative;
  height: 100%;
}
@media (min-width: 1400px) {
  .section-height {
    height: var(--section-height, 100%);
  }
}

.container-shadow {
  box-shadow: 0px 18px 10px 5px rgba(0, 0, 0, 0.1);
}

.content {
  display: flex !important;
  flex-direction: column !important;
}

.vertical-line {
  width: 0px;
  height: auto;
  background-color: #C7C8C9;
  padding: 0;
}
@media (min-width: 992px) {
  .vertical-line {
    order: 2;
    width: 1px;
  }
}

@media (min-width: 1200px) {
  .overlap {
    gap: 0;
    margin-top: -9rem;
  }
}

.padding-tb {
  padding-top: clamp(2rem, 1.1111rem + 4.4444vw, 5rem);
  padding-bottom: clamp(2rem, 1.1111rem + 4.4444vw, 5rem);
}

.padding-t {
  padding-top: clamp(2rem, 0.8148rem + 5.9259vw, 6rem);
}

.padding-b {
  padding-bottom: clamp(2rem, 0.8148rem + 5.9259vw, 6rem);
}

.margin-tb {
  margin-top: clamp(2rem, 1.1111rem + 4.4444vw, 5rem);
  margin-bottom: clamp(2rem, 1.1111rem + 4.4444vw, 5rem);
}

.margin-t {
  margin-top: clamp(2rem, 1.1111rem + 4.4444vw, 5rem);
}

.margin-b {
  margin-bottom: clamp(2rem, 1.1111rem + 4.4444vw, 5rem);
}

ul li::marker {
  color: var(--clr-secondary);
}

aside {
  padding-top: 3rem;
}
@media (min-width: 576px) {
  aside {
    padding-top: 0;
  }
}
aside .umb-block-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.umb-block-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.umb-block-grid__layout-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--umb-block-grid--grid-columns, 1), minmax(0, 1fr));
  grid-auto-flow: row;
  grid-auto-rows: minmax(0px, min-content);
  column-gap: var(--umb-block-grid--column-gap, 0);
  row-gap: var(--umb-block-grid--row-gap, 0);
}

.umb-block-grid__layout-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column-end: span min(var(--umb-block-grid--item-column-span, 1) * 3, var(--umb-block-grid--grid-columns));
  grid-row: span var(--umb-block-grid--item-row-span, 1);
}

.umb-block-grid__area-container,
.umb-block-grid__block--view::part(area-container) {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--umb-block-grid--area-grid-columns, var(--umb-block-grid--grid-columns, 1)), minmax(0, 1fr));
  grid-auto-flow: row;
  grid-auto-rows: minmax(0px, min-content);
  column-gap: var(--umb-block-grid--areas-column-gap, 0);
  row-gap: var(--umb-block-grid--areas-row-gap, 0);
}

.umb-block-grid__area {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  grid-column-end: span min(var(--umb-block-grid--area-column-span, 1) * 3, var(--umb-block-grid--area-grid-columns));
  grid-row: span var(--umb-block-grid--area-row-span, 1);
}

@media (min-width: 1024px) {
  .umb-block-grid__layout-item {
    grid-column-end: span min(var(--umb-block-grid--item-column-span, 1), var(--umb-block-grid--grid-columns));
  }
  .umb-block-grid__area {
    grid-column-end: span min(var(--umb-block-grid--area-column-span, 1), var(--umb-block-grid--area-grid-columns));
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid inset;
  -webkit-text-fill-color: var(--clr-body-text);
  -webkit-box-shadow: 0 0 0px 1000px #000 inherit;
  transition: background-color 5000s ease-in-out 0s;
}

.success-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  text-align: center;
  padding: 2rem;
}
.success-card span {
  font-size: clamp(3rem, 2.037rem + 4.8148vw, 6.25rem);
  color: var(--clr-secondary);
  font-weight: 600;
  margin-bottom: 1rem;
}
.success-card .text-lg {
  color: #FFFFFF;
  flex-grow: 1;
}

.background-color {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}
@media (min-width: 768px) {
  .background-color {
    height: var(--dynamic-height, 100%);
  }
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  background-color: var(--clr-neutral);
}

.bg-dark {
  background-color: var(--clr-dark);
}

.bg-gray-1 {
  background-color: var(--clr-white-100);
}

.bg-gray-2 {
  background-color: var(--clr-note1);
}

.bg-gray-3 {
  background-color: var(--clr-body-text-100);
}

.bg-gray-4 {
  background-color: var(--clr-body-text);
}

.bg-accent {
  background-color: var(--clr-accent);
}

.bg-secondary {
  background-color: var(--clr-secondary);
}

.bg-primare {
  background-color: var(--clr-primary);
}

.partners-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
@media (min-width: 576px) {
  .partners-list {
    gap: 1rem;
  }
}

.partners-logo {
  max-width: 100%;
  justify-self: center;
  align-self: center;
}
@media (min-width: 576px) {
  .partners-logo {
    justify-self: unset;
  }
}

.btn-primary {
  background-color: var(--clr-primary);
  color: var(--clr-white);
  text-align: center;
  text-decoration: none;
  padding: 12px 38px;
  font-size: clamp(1rem, 0.963rem + 0.1852vw, 1.125rem);
  font-weight: 700;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn-primary:hover {
  text-decoration: none;
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
}

.btn-secondary {
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
  text-align: center;
  text-decoration: none;
  padding: 12px 38px;
  font-size: clamp(1rem, 0.963rem + 0.1852vw, 1.125rem);
  font-weight: 700;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn-secondary:hover {
  text-decoration: none;
  background-color: var(--clr-primary);
  color: var(--clr-white);
}

.btn-accent {
  background-color: var(--clr-accent);
  color: var(--clr-primary);
  text-align: center;
  text-decoration: none;
  padding: 12px 38px;
  font-size: clamp(1rem, 0.963rem + 0.1852vw, 1.125rem);
  font-weight: 700;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn-accent:hover {
  text-decoration: none;
  background-color: var(--clr-primary);
  color: var(--clr-white);
}

.page-title {
  background-color: var(--clr-white-100);
  background-image: url(/images/Rectangle-left.svg);
  background-position: left bottom, top right;
  background-size: auto, auto;
  background-repeat: no-repeat, no-repeat;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media (min-width: 1200px) {
  .page-title {
    background-image: url(/images/Rectangle-left.svg), url(/images/Rectangle-right.svg);
    background-position: left bottom, top right;
    background-size: auto, auto;
    background-repeat: no-repeat, no-repeat;
  }
}
.page-title .container .breadcrumb {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}
.page-title .container .breadcrumb li {
  display: flex;
  align-items: center;
}
.page-title .container .breadcrumb li a {
  line-height: 160%;
  font-weight: 400;
  color: var(--clr-body-text);
  font-family: "Poppins", "sans-serif";
  margin: 0;
  font-size: 0.875rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.page-title .container .breadcrumb li a:hover {
  color: var(--clr-secondary);
}
.page-title .container .breadcrumb li i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.4rem;
  font-size: 10px;
}
.page-title .container .breadcrumb li p {
  line-height: 160%;
  font-weight: 400;
  color: var(--clr-body-text);
  font-family: "Poppins", "sans-serif";
  margin: 0;
  font-size: 0.875rem;
  color: var(--clr-secondary);
}

.services-card {
  background-color: var(--clr-neutral);
  overflow: hidden;
  border: 2px solid var(--clr-white-100);
  max-width: 100%;
  width: 100%;
  min-height: 350px;
}
.services-card a {
  text-decoration: none;
}
.services-card a h4, .services-card a p {
  padding: clamp(1rem, 0.8519rem + 0.7407vw, 1.5rem);
}
.services-card a img {
  display: block;
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.services-card:hover {
  border: 2px solid var(--clr-secondary);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.projects-items img {
  max-height: 230px;
  object-fit: cover;
  object-position: top;
}
.projects-items .projects-item .projects-date {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.projects-items .projects-item .projects-date p {
  margin: 0;
}
.projects-items .projects-item .projects-link {
  text-decoration: none;
}
.projects-items .projects-item .projects-link i {
  margin-left: 0.5rem;
  color: var(--clr-secondary);
}

.projects-card {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 1/1;
  cursor: pointer;
}
.projects-card .projects-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--clr-primary);
  opacity: 0.7;
  padding: 1rem 1rem;
  transition: all 0.2s ease-in-out;
  display: flex;
  gap: 1rem;
}
@media (min-width: 768px) {
  .projects-card .projects-content {
    gap: 2rem;
    padding: 1.5rem 1rem;
  }
}
.projects-card .projects-content .text-lg {
  color: var(--clr-neutral);
  margin: 0;
}
.projects-card .projects-content .text-s {
  color: var(--clr-neutral);
  margin: 0;
}
.projects-card .projects-content .card-icon {
  align-self: center;
  width: 25%;
}
.projects-card .projects-content .card-icon i {
  transition: all 0.2s ease-in-out;
  opacity: 0;
}
.projects-card .projects-content .card-icon p {
  color: black;
}
.projects-card:hover .projects-content {
  opacity: 1;
  padding: 1.5rem 1rem;
}
@media (min-width: 768px) {
  .projects-card:hover .projects-content {
    padding: 2.5rem 1rem;
  }
}
.projects-card:hover .projects-content .text-lg {
  color: var(--clr-secondary);
}
.projects-card:hover .projects-content .card-icon i {
  opacity: 1;
  font-size: 3rem;
  color: var(--clr-white);
  text-decoration: none;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mySwiper .swiper-wrapper {
  height: auto;
}
@media (min-width: 768px) {
  .mySwiper .swiper-wrapper {
    height: 860px;
  }
}
.projectsSwiper .swiper-wrapper {
  height: auto;
}
@media (min-width: 768px) {
  .projectsSwiper .swiper-wrapper {
    height: 1150px;
  }
}
.projectsSwiper .swiper-wrapper .swiper-slide {
  height: max-content !important;
}
@media (min-width: 768px) {
  .projectsSwiper .swiper-wrapper .swiper-slide {
    margin: 0 !important;
  }
}

.custom-pagination {
  display: none;
}
@media (min-width: 768px) {
  .custom-pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-block: 0.5rem;
    margin-top: -1rem;
  }
}

.custom-prev, .custom-next {
  border: none;
  background-color: inherit;
  line-height: 160%;
  font-weight: 400;
  color: var(--clr-body-text);
  font-family: "Poppins", "sans-serif";
  margin: 0;
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--clr-gray-400);
}

.swiper-button-disabled {
  color: var(--clr-border-gray);
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  bottom: 0 !important;
  width: auto !important;
}

.swiper-pagination-bullet {
  line-height: 160%;
  font-weight: 400;
  color: var(--clr-body-text);
  font-family: "Poppins", "sans-serif";
  margin: 0;
  font-size: 1.125rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--clr-neutral);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out !important;
}

.swiper-pagination-bullet:hover {
  outline: 1px solid var(--clr-border-400);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--clr-neutral);
  outline: 1px solid var(--clr-border-400);
  color: var(--clr-primary);
}

.container-bg-image {
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
}

.section-bg-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media (min-width: 576px) {
  .section-bg-image {
    height: var(--image-height, 100%);
  }
}

.section-bg-image.hideImage {
  display: none;
}
@media (min-width: 768px) {
  .section-bg-image.hideImage {
    display: flex;
  }
}

.tags p {
  padding: 0.5rem 1rem;
  border: 1px solid var(--clr-border-400);
  border-radius: 20px;
}

.tags-projects-item p {
  padding: 0.5rem 1rem;
  background-color: var(--clr-accent);
  border: 1px solid var(--clr-accent);
  border-radius: 20px;
}

.teams-card img {
  width: 100%;
}
.teams-card .members-info {
  border: 1px solid var(--clr-border-gray);
  padding: 1rem;
}

form input[type=text],
form input[type=email],
form input[type=tel],
form textarea,
form select {
  width: 100%;
  padding: 10px;
  border-radius: 0;
  margin-bottom: 1.5rem;
}
form input::placeholder, form textarea::placeholder {
  line-height: 160%;
  font-weight: 400;
  color: var(--clr-body-text);
  font-family: "Poppins", "sans-serif";
  margin: 0;
  font-size: 0.8125rem;
  font-style: italic;
  color: var(--clr-note1);
}
form textarea {
  resize: none;
}
form .form-control {
  box-shadow: none !important;
}
form .form-control:focus {
  border-color: var(--clr-primary);
}
form .form-select {
  line-height: 160%;
  font-weight: 400;
  color: var(--clr-body-text);
  font-family: "Poppins", "sans-serif";
  margin: 0;
  font-size: 0.8125rem;
  color: var(--clr-body-text);
  margin-bottom: 1.5rem;
  padding: 12px;
  border-radius: 0;
}
form .form-select {
  box-shadow: none !important;
}
form .form-select:focus {
  border-color: var(--clr-primary);
}
form button[type=submit] {
  border: none;
  border-radius: 4px;
  margin-top: 0.5rem;
}

.invalid-feedback {
  position: absolute;
  padding: 0 0.2rem;
  margin-top: -1.5rem;
  margin-bottom: 0.5rem;
}

.form-group {
  position: relative;
}
.form-group i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: var(--clr-primary);
  font-size: 1.5rem;
  pointer-events: none;
}
.form-group.is-valid i {
  color: #198754;
}
.form-group.is-invalid i {
  color: #DC3545;
}

.socialmedia {
  display: flex;
  align-items: stretch;
}
.socialmedia .socialmedia-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 16px 18px;
  font-size: 16px;
  color: var(--clr-neutral);
  border-left: 1px solid var(--clr-main-light);
  height: 100%;
  transition: color 0.2s ease-in-out;
}
.socialmedia .socialmedia-item:last-child {
  border-right: 1px solid var(--clr-main-light);
}
.socialmedia .socialmedia-item:hover {
  color: var(--clr-secondary);
}

.call-back-form {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.call-back-form .form-header {
  background-color: var(--clr-primary);
}
.call-back-form .form-header .text-lead {
  color: var(--clr-accent);
  padding: 1.5rem 2rem 1.5rem 2rem;
}
.call-back-form .text-xs {
  padding: 1.5rem 2rem 0.5rem 2rem;
}
.call-back-form form {
  padding: 1.5rem 2rem 2rem 2rem;
}

.recents-projects-aside a {
  text-decoration: none;
}
.recents-projects-aside .recent-projects-item p {
  margin-bottom: 6px;
}
.recents-projects-aside .recent-projects-item .recent-thumbnail {
  height: 85px;
  object-fit: cover;
  object-position: top;
}

.content-widget a {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-decoration: none;
}

.form-support {
  background-color: var(--clr-primary);
  padding: 1.5rem 1.5rem;
  border-radius: 8px;
  background-image: url(/images/Mail.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.form-support h4 {
  color: var(--clr-accent);
}
.form-support p {
  color: var(--clr-neutral);
}
.form-support .form-control {
  background-image: none;
}

.contact-info-section {
  background-color: var(--clr-white-100);
}
.contact-info-section .container .content-left {
  background-image: url("/images/Component 1.svg");
  background-position: left bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
.contact-info-section .container .contact-info-bullets {
  list-style: none;
  padding: 2rem 0;
  margin: 0;
}
.contact-info-section .container .contact-info-bullets li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}
.contact-info-section .container .contact-info-bullets i {
  font-size: 1.375rem;
  margin-right: 0.5rem;
  color: var(--clr-secondary);
  line-height: 1;
  display: flex;
  align-items: center;
}

.projects {
  position: relative;
}
.projects .container {
  position: relative;
}
.projects .container aside {
  position: sticky;
  top: 1rem;
  height: fit-content;
  padding: 2rem 0.75rem;
}
@media (min-width: 992px) {
  .projects .container aside {
    padding: 0;
  }
}

.projects-details {
  position: relative;
}
.projects-details .container {
  position: relative;
}
.projects-details .container aside {
  position: sticky;
  top: 1rem;
  height: fit-content;
  padding: 2rem 0.75rem;
}
@media (min-width: 992px) {
  .projects-details .container aside {
    padding: 0;
  }
}

.recent-projects-section .grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .recent-projects-section .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .recent-projects-section .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1400px) {
  .recent-projects-section .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.services-details .container {
  position: relative;
}
.services-details .container .row aside {
  position: sticky;
  top: 1rem;
  height: fit-content;
}
@media (min-width: 768px) {
  .section-split .grid-split {
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(0, 360px) minmax(0, 360px) minmax(1rem, 1fr);
  }
}
@media (min-width: 992px) {
  .section-split .grid-split {
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(0, 480px) minmax(0, 480px) minmax(1rem, 1fr);
  }
}
@media (min-width: 1200px) {
  .section-split .grid-split {
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(0, 570px) minmax(0, 570px) minmax(1rem, 1fr);
  }
}
@media (min-width: 1400px) {
  .section-split .grid-split {
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(0, 660px) minmax(0, 660px) minmax(1rem, 1fr);
  }
}
.section-split .grid-split .content-left {
  grid-column: 2/3;
  width: 100%;
  padding: 3rem 0.75rem;
}
.section-split .grid-split .content-right {
  grid-column: 3/4;
  width: 100%;
  padding: 3rem 0.75rem;
  order: 2;
}
@media (min-width: 576px) {
  .section-split .grid-split img {
    height: 100%;
    object-fit: cover;
  }
}
.section-split .grid-split .img-right {
  grid-column: 3/5;
  width: 100%;
}
.section-split .grid-split .img-left {
  grid-column: 1/3;
  width: 100%;
  order: 1;
}

.topbar {
  background-color: var(--clr-primary);
  height: auto;
}
.topbar .container .text-xs {
  color: var(--clr-neutral);
  margin: 0;
}

.mainnav {
  position: relative;
  padding-block: 1rem;
  z-index: 999;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);
}
.mainnav__logo {
  flex: 0 0 auto;
  z-index: 99;
}
.mainnav button {
  background: none;
  border: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .mainnav button {
    display: none;
  }
}
.mainnav__open[aria-expanded=true] + .mainnav__menu {
  opacity: 1;
}
.mainnav__open {
  width: 25px;
  height: 24px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 999;
  position: relative;
}
.mainnav__close {
  display: block;
  margin-inline-start: auto;
  margin-block-end: 4rem;
}
.mainnav__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 6rem;
  background-color: var(--clr-accent);
  position: fixed;
  inset: 0;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  z-index: 2;
}
.mainnav__menu i {
  flex-grow: 1;
}
@media (min-width: 768px) {
  .mainnav__menu {
    padding: 0;
    flex-direction: row;
    position: static;
    background-color: inherit;
    opacity: 1;
    align-items: center;
    width: 100%;
  }
  .mainnav__menu i {
    flex-grow: 0;
  }
}
.mainnav__links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  margin-bottom: 2rem;
  text-align: center;
}
@media (min-width: 768px) {
  .mainnav__links {
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 2rem;
  }
}
@media (min-width: 992px) {
  .mainnav__links {
    gap: 4rem;
  }
}
.mainnav__item {
  list-style-type: none;
}
.mainnav__item.active .mainnav__link {
  color: var(--clr-secondary);
}
.mainnav__link {
  line-height: 160%;
  font-weight: 400;
  color: var(--clr-body-text);
  font-family: "Poppins", "sans-serif";
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  transition: color, 0.2s ease-in-out;
}
.mainnav__link:hover {
  color: var(--clr-secondary);
}
.mainnav__socialmedia {
  padding-block: 3rem;
}
.mainnav__socialmedia i {
  color: var(--clr-primary);
}
@media (min-width: 768px) {
  .mainnav__socialmedia {
    display: none;
  }
}

.hamburger {
  width: 25px;
  height: 2px;
  background-color: #000;
  position: relative;
  transition: background-color 0.3s;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #000;
  transition: transform 0.3s, top 0.3s, bottom 0.3s;
  display: flex;
  align-items: center;
}

.hamburger::before {
  top: -8px;
}

.hamburger::after {
  bottom: -8px;
}

.mainnav__open.open .hamburger {
  background-color: transparent;
}

.mainnav__open.open .hamburger::before {
  top: 0;
  transform: rotate(45deg);
}

.mainnav__open.open .hamburger::after {
  bottom: 0;
  transform: rotate(-45deg);
}

footer {
  background-color: var(--clr-dark);
  padding: 1rem 0;
}
footer .text-s {
  text-align: center;
}
@media (min-width: 576px) {
  footer .text-s {
    text-align: start;
  }
}
footer .text-s a {
  text-decoration: none;
  color: var(--clr-secondary);
}
footer .text-s a:hover {
  text-decoration: underline;
}
