@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

body {
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  font-size: 1rem;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

@media (prefers-reduced-moton: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
ul[role=list], ol[role=list] {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --clr-neutral: #ffffff;
  --clr-white: #F2EDDC;
  --clr-white-100: #F7F7F7;
  --clr-dark: #0E0E0E;
  --clr-primary: #4F5955;
  --clr-main-light: #606966;
  --clr-accent: #F2EDDC;
  --clr-secondary: #D9C3A9;
  --clr-body-text: #535656;
  --clr-body-text-100: #999999;
  --clr-note1: #9C9EA6;
  --clr-border-gray: #EAEAEA;
}

.wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.section-wrapper {
  position: relative;
  height: 100%;
}

.padding-tb {
  padding-top: clamp(2rem, 1.1111rem + 4.4444vw, 5rem);
  padding-bottom: clamp(2rem, 1.1111rem + 4.4444vw, 5rem);
}

.padding-t {
  padding-top: clamp(2rem, 1.1111rem + 4.4444vw, 5rem);
}

.padding-b {
  padding-bottom: clamp(2rem, 1.1111rem + 4.4444vw, 5rem);
}

.margin-tb {
  margin-top: clamp(2rem, 1.1111rem + 4.4444vw, 5rem);
  margin-bottom: clamp(2rem, 1.1111rem + 4.4444vw, 5rem);
}

.margin-t {
  margin-top: clamp(2rem, 1.1111rem + 4.4444vw, 5rem);
}

.margin-b {
  margin-bottom: clamp(2rem, 1.1111rem + 4.4444vw, 5rem);
}

.umb-block-grid__layout-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--umb-block-grid--grid-columns, 1), minmax(0, 1fr));
  grid-auto-flow: row;
  grid-auto-rows: minmax(50px, min-content);
  column-gap: var(--umb-block-grid--column-gap, 0);
  row-gap: var(--umb-block-grid--row-gap, 0);
}

.umb-block-grid__layout-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* For small devices we scale columnSpan by three, to make everything bigger than 1/3 take full width: */
  grid-column-end: span min(var(--umb-block-grid--item-column-span, 1) * 3, var(--umb-block-grid--grid-columns));
  grid-row: span var(--umb-block-grid--item-row-span, 1);
}

.umb-block-grid__area-container,
.umb-block-grid__block--view::part(area-container) {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--umb-block-grid--area-grid-columns, var(--umb-block-grid--grid-columns, 1)), minmax(0, 1fr));
  grid-auto-flow: row;
  grid-auto-rows: minmax(50px, min-content);
  column-gap: var(--umb-block-grid--areas-column-gap, 0);
  row-gap: var(--umb-block-grid--areas-row-gap, 0);
}

.umb-block-grid__area {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* For small devices we scale columnSpan by three, to make everything bigger than 1/3 take full width: */
  grid-column-end: span min(var(--umb-block-grid--area-column-span, 1) * 3, var(--umb-block-grid--area-grid-columns));
  grid-row: span var(--umb-block-grid--area-row-span, 1);
}

@media (min-width: 1024px) {
  .umb-block-grid__layout-item {
    grid-column-end: span min(var(--umb-block-grid--item-column-span, 1), var(--umb-block-grid--grid-columns));
  }
  .umb-block-grid__area {
    grid-column-end: span min(var(--umb-block-grid--area-column-span, 1), var(--umb-block-grid--area-grid-columns));
  }
}
h1 {
  line-height: 120%;
  font-weight: 700;
  color: var(--clr-primary);
  font-family: "Poppins", "sans-serif";
  text-wrap: balance;
  margin: 0;
  font-size: clamp(2.2rem, 1.5556rem + 3.2222vw, 4.375rem);
}

h2 {
  line-height: 120%;
  font-weight: 700;
  color: var(--clr-primary);
  font-family: "Poppins", "sans-serif";
  text-wrap: balance;
  margin: 0;
  font-size: clamp(1.625rem, 1.3657rem + 1.2963vw, 2.5rem);
}

h3 {
  line-height: 120%;
  font-weight: 700;
  color: var(--clr-primary);
  font-family: "Poppins", "sans-serif";
  text-wrap: balance;
  margin: 0;
  font-size: 0.875rem;
}

h4 {
  line-height: 120%;
  font-weight: 700;
  color: var(--clr-primary);
  font-family: "Poppins", "sans-serif";
  text-wrap: balance;
  margin: 0;
  font-size: clamp(1.25rem, 1.213rem + 0.1852vw, 1.375rem);
  font-weight: 600;
}

h5 {
  line-height: 120%;
  font-weight: 700;
  color: var(--clr-primary);
  font-family: "Poppins", "sans-serif";
  text-wrap: balance;
  margin: 0;
  font-size: 1.5625rem;
}

.text-xs {
  line-height: 160%;
  font-weight: 400;
  color: var(--clr-body-text);
  font-family: "Poppins", "sans-serif";
  margin: 0;
  font-size: 0.8125rem;
}

.text-s {
  line-height: 160%;
  font-weight: 400;
  color: var(--clr-body-text);
  font-family: "Poppins", "sans-serif";
  margin: 0;
  font-size: 0.875rem;
}

.text-m {
  line-height: 160%;
  font-weight: 400;
  color: var(--clr-body-text);
  font-family: "Poppins", "sans-serif";
  margin: 0;
  font-size: 1rem;
}

.text-lg {
  line-height: 160%;
  font-weight: 400;
  color: var(--clr-body-text);
  font-family: "Poppins", "sans-serif";
  margin: 0;
  font-size: 1.125rem;
}

.text-xl {
  line-height: 160%;
  font-weight: 400;
  color: var(--clr-body-text);
  font-family: "Poppins", "sans-serif";
  margin: 0;
  font-size: 1.25rem;
}

.text-lead {
  line-height: 160%;
  font-weight: 400;
  color: var(--clr-body-text);
  font-family: "Poppins", "sans-serif";
  margin: 0;
  font-size: 1.875rem;
}

.text-primary {
  color: var(--clr-primary);
}

.text-secondary {
  color: var(--clr-secondary);
}

.text-accent {
  color: var(--clr-accent);
}

footer {
  background-color: var(--clr-dark);
  padding: 1rem 0;
}
footer .text-s {
  text-align: center;
}
@media (min-width: 576px) {
  footer .text-s {
    text-align: start;
  }
}
footer .text-s a {
  text-decoration: none;
  color: var(--clr-secondary);
}
footer .text-s a:hover {
  text-decoration: underline;
}

.success-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  text-align: center;
  padding: 2rem;
}
.success-card span {
  font-size: clamp(3rem, 2.037rem + 4.8148vw, 6.25rem);
  color: var(--clr-secondary);
  font-weight: 600;
  margin-bottom: 1rem;
}
.success-card .text-lg {
  color: #FFFFFF;
  flex-grow: 1;
}

.background-color {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}
@media (min-width: 768px) {
  .background-color {
    height: var(--dynamic-height, 100%);
  }
}

.background-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
}

@media (min-width: 768px) {
  .bg-height-5 {
    height: 5%;
  }
}

@media (min-width: 768px) {
  .bg-height-10 {
    height: 10%;
  }
}

@media (min-width: 768px) {
  .bg-height-15 {
    height: 15%;
  }
}

@media (min-width: 768px) {
  .bg-height-20 {
    height: 20%;
  }
}

@media (min-width: 768px) {
  .bg-height-25 {
    height: 25%;
  }
}

@media (min-width: 768px) {
  .bg-height-30 {
    height: 30%;
  }
}

@media (min-width: 768px) {
  .bg-height-35 {
    height: 35%;
  }
}

@media (min-width: 768px) {
  .bg-height-40 {
    height: 40%;
  }
}

@media (min-width: 768px) {
  .bg-height-45 {
    height: 45%;
  }
}

@media (min-width: 768px) {
  .bg-height-50 {
    height: 50%;
  }
}

@media (min-width: 768px) {
  .bg-height-55 {
    height: 55%;
  }
}

@media (min-width: 768px) {
  .bg-height-60 {
    height: 60%;
  }
}

@media (min-width: 768px) {
  .bg-height-65 {
    height: 65%;
  }
}

@media (min-width: 768px) {
  .bg-height-75 {
    height: 75%;
  }
}

@media (min-width: 768px) {
  .bg-height-80 {
    height: 80%;
  }
}

@media (min-width: 768px) {
  .bg-height-85 {
    height: 85%;
  }
}

@media (min-width: 768px) {
  .bg-height-90 {
    height: 90%;
  }
}

@media (min-width: 768px) {
  .bg-height-95 {
    height: 95%;
  }
}

@media (min-width: 768px) {
  .bg-height-100 {
    height: 100%;
  }
}

.partners-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
@media (min-width: 576px) {
  .partners-list {
    gap: 1rem;
  }
}

.partners-logo {
  max-width: 100%;
  justify-self: center;
  align-self: center;
}
@media (min-width: 576px) {
  .partners-logo {
    justify-self: unset;
  }
}
