<?xml version="1.0" encoding="utf-8"?>
<Content Key="336e93e7-5a3f-44a4-aee1-4e71981942ef" Alias="Services" Level="2">
  <Info>
    <Parent Key="b9da7329-63d5-4681-afc9-4d68c86f4f2a">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2024-09-09T12:03:18</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="56176fa1-ae73-436b-b355-50552035f7d5">servicePage</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "2b604e65-4e97-427b-9d31-3b838e06ec6e",
      "udi": "umb://element/e1fbf6f7c2fc43268f0d1a4814ed1966",
      "contactTitle": "Let us know about your next project",
      "contactImage": "[{\u0022key\u0022:\u0022523cc382-3df6-4654-b752-0c62cb94301e\u0022,\u0022mediaKey\u0022:\u002219d9d688-400a-4694-bb8c-63894f1f8226\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "4a8c3ae4-6fb6-46c4-924d-25b171b65fa3",
      "udi": "umb://element/a70c36726392477f8121c8a0015025ea",
      "sectionTitle": "Our Services",
      "addSpaceToTop": 1,
      "addSpaceToBottom": 1
    },
    {
      "contentTypeKey": "6f2908ee-6e6d-42e9-b88c-075b526e3d6d",
      "udi": "umb://element/8208b146f1a440eb9e70e3e61244b45f"
    },
    {
      "contentTypeKey": "1219f78e-d653-4c07-b82d-f34a90323143",
      "udi": "umb://element/5cb6dcc7bee64da488ed4c7f9a8cbddc",
      "pagination": 1
    },
    {
      "contentTypeKey": "2c71bcdb-8673-4998-ace3-ad0f9491c118",
      "udi": "umb://element/3d118e71ebb24684807e6a60d794f96e",
      "richTextContent": "{\u0022markup\u0022:\u0022\\u003Ch2 style=\\u0022text-align: center;\\u0022\\u003EWe Provide The Solutions\\u003Cbr\\u003ETo Grow Your Business Faster\\u003C/h2\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/a70c36726392477f8121c8a0015025ea",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "33d60e9b-50ca-4249-9f4d-04e715cf4fbb",
            "items": [
              {
                "contentUdi": "umb://element/8208b146f1a440eb9e70e3e61244b45f",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "041bcff9-3cc1-4937-b5e1-19bd95354b97",
                    "items": [
                      {
                        "contentUdi": "umb://element/3d118e71ebb24684807e6a60d794f96e",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/5cb6dcc7bee64da488ed4c7f9a8cbddc",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/e1fbf6f7c2fc43268f0d1a4814ed1966",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": []
      }
    ]
  }
}]]></Value>
    </layout>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>