@using OnatrixUmbraco.ViewModels
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var formTitle = Model.Content.Value<string>("formTitle") ?? "";
    var formDescription = Model.Content.Value<string>("formDescription") ?? "";
    var viewModel = new FormSupportViewModel();
}

<div class="form-support d-flex flex-column gap-3 col-12 col-md-6 col-lg-12 ">
    <h4>@formTitle</h4>
    <p class="text-s pb-3">@formDescription</p>


    @await Html.PartialAsync("~/views/partials/forms/_formSupport.cshtml", viewModel)

  
</div>