@using OnatrixUmbraco.ViewModels
@model FormContactViewModel

@using (Html.BeginUmbracoForm("HandleContactForm", "FormSurface", FormMethod.Post, new { novalidate = "novalidate", id = "formContact" }))
{
    <div class="row justify-content-center">
        <div class="form-group col-12 col-md-6">
            <label hidden asp-for="Name"></label>
            <input type="text" class="form-control @(ViewData.ModelState["Name"]?.Errors.Any() == true ? "is-invalid" : "")"
                    asp-for="Name" id="nameInput" placeholder="Name" />
            <span asp-validation-for="Name" class="invalid-feedback"></span>
        </div>

        <div class="form-group col-12 col-md-6">
            <label hidden asp-for="Phone"></label>
            <input type="tel" class="form-control @(ViewData.ModelState["Phone"]?.Errors.Any() == true ? "is-invalid" : "")"
                    asp-for="Phone" id="phoneInput" placeholder="Phone" />
            <span asp-validation-for="Phone" class="invalid-feedback"></span>
        </div>

        <div class="form-group col-12 col-md-6">
            <label hidden asp-for="Email"></label>
            <input type="email" class="form-control @(ViewData.ModelState["Email"]?.Errors.Any() == true ? "is-invalid" : "")"
                    asp-for="Email" id="emailInput" placeholder="Email address" />
            <span asp-validation-for="Email" class="invalid-feedback"></span>
        </div>

        

        <div class="form-group col-12 col-md-6">
            <label hidden asp-for="Email"></label>
            <select class="form-select @(ViewData.ModelState["SelectedOption"]?.Errors.Any() == true ? "is-invalid" : "")"
                    asp-for="SelectedOption" id="selectInput">
                <option value="">Please select an option</option>
                <option value="Financial consulting">Financial consulting</option>
                <option value="Business strategy">Business strategy</option>
                <option value="Tax planning">Tax planning</option>
            </select>
            <span asp-validation-for="SelectedOption" class="invalid-feedback"></span>
        </div>

        
    </div>

    <div class="form-button d-flex justify-content-md-center ">
        <button class="btn-primary flex-grow-1 flex-md-grow-0 " type="submit">Submit</button>
    </div>
}